<!DOCTYPE html>
<html>
<head>
	<title>Diary</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'map/style.css' %}">  -->

</head>
<body>
<div class="container">

            <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/map">Mapiary</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="/map/diary">Diary</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/map/logout">Log out</a></li>
                    <li><a >Welcome,{{ user }}</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/map/login">Login</a></li>
                  <li><a href="/map/register">Register</a></li>
                </ul>
                {% endif %}
              </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
          </nav>

    <h1>Add a new diary</h1>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit">Submit</button>
 
    
</div>

</body>
</html>